.container.developing
  h2.page-sub-title Developing
  p.text
    | After installing the dependencies and building the assets, you're
    | ready to start developing your theme. All of the following commands
    | are simple npm scripts that are available inside the #[i package.json]
    | file.

  h3.page-sub-title Watching assets
  p.text
    | The following command will watch for any changes in the assets directory
    | and compile the Stylesheet and/or JavaScript file.

  pre
    code.snippet
      | npm run watch
      
      
  h3.page-sub-title Building assets
  p.text
    | When the theme is ready for production, run the following command
    | to generate the minified version of the assets.
    
  pre
    code.snippet
      | npm run build:production

  br
  p.text
    | For development, run the following command:
  
  pre
    code.snippet
      | npm run build:development
      
