.billboard-wrapper
  background-color: $dark-color-major
  color: white
  padding: 8em 0em

.billboard
  display: flex
  flex-flow: column
  align-items: center

.billboard-title
  font-size: 3rem
  text-align: center
  margin-bottom: 1.5rem
  text-transform: uppercase

.billboard-sub-title
  font-weight: normal
  font-size: 1.5rem
  margin-bottom: 2rem
  text-align: center
