.footer-wrapper
  padding: 3rem 0rem
  background-color: $black-color
  color: #fff

.footer
  display: flex
  flex-flow: column
  align-items: center

  & > *:not(:last-of-type)
    flex: 1 0
    margin-bottom: 1.5rem

.button-group
  display: flex
  flex-flow: column
  align-items: flex-start

  & > *:not(:last-child)
    margin-bottom: 1rem
