*
  margin: 0
  padding: 0

body
  color: $black-color
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

a, a:link, a:visited
  color: $black-color
  text-decoration: none

a:hover
  text-decoration: overline

.container

  margin: 0 auto
  padding: 0 1em

  @include respond-to(extra-small)
    max-width: 540px

  @include respond-to(small)
    max-width: 720px

  @include respond-to(medium)
    max-width: 930px

  @include respond-to(large)
    max-width: 1125px

.content-main
  padding-top: 3rem
  padding-bottom: 3rem

.documentation
  padding-bottom: 3rem

.page-header-wrapper
  background: $dark-color-major
  color: $white-color
  padding: 4rem 0

.text
  margin-bottom: 1em
  line-height: 1.5em

.description
  line-height: 1.5em
  max-width: 600px

.title
  margin-bottom: 1.6rem

.section-title
  margin-bottom: 3rem

.sub-title
  margin-bottom: 0.6rem

.page-sub-title
  margin-top: 2rem
  margin-bottom: 1rem

.two-cols
  display: flex
  flex-flow: column

  @include respond-to(small)
    flex-flow: row

.main-col
  order: 2

  @include respond-to(small)
    order: 0
    border-right: 1px solid $gray-color-l
    padding-right: 2rem

.aside-col
  margin-top: 1rem
  font-size: 1.15em

  @include respond-to(small)
    margin-left: 2rem
