extends base/layout.pug
block content
  include components/header.pug
  include components/billboard.pug
  include components/highlighted.pug
  include components/features.pug
  include components/footer.pug
