.page-header-wrapper
  .container.page-header
    h1 Documentation
    
.documentation
  include docs/installation.pug
  include docs/developing.pug
  include docs/live-reload.pug
  include docs/structure.pug
