.features-wrapper
  .container
    #features.features
      h1.title.section-title Features
      
      .feat
        h2.sub-title A clean head
        p.text
          | Removes all the junk that Wordpress puts into the markup by default.
          
      .feat    
        h2.sub-title Helpful partials to get you started
        p.text 
          | A couple of partials (or template-parts like Wordpress calls it)
          | are available to help you get started. The templates are neatly
          | organized by post, page, and sections. Check 
          | the #[i partials] directory.
        p.text 
          | You also have a custom page template under the #[i template]
          | directory.
        
      .feat
        h2.sub-title ES2015 and Sass 
        p.text
          | Write the latest version of JavaScript (ES2015) paired with Sass.
          
      .feat
        h2.sub-title Modern workflow
        p.text
          | The asset files you are working on are automatically compiled 
          | with support for live-reload on the browser as you saves them.
        p.text
          | Manage scripts and front-end dependencies with npm.
      
      .feat  
        h2.sub-title Customize 
        p.text Easily customizable to fit your needs. 
        
      .feat    
        h2.sub-title Selected Wordpress theme features
        p.text
          | Enable only the most basic and essential Wordpress 
          | features needed to build a website today. 
          | The following features are enabled by default:
        ul.features-list
          li 
            | #[b Menu:] Register a menu for the main navigation
            | of the website.
          li 
            | #[b Widgets:] Enables widgets with a sidebar by default.
          li
            | #[b Featured image:] Enabled by default.
          li 
            | #[b Assets:] Enqueues a stylesheet file and a JavaScript file.
