section.footer-wrapper
  .container
    .footer
      div
        p
          | Vanilka is open-sourced under the MIT license.
      .button-group
        a(href="https://github.com/Nefla/vanilka" class="btn btn-inverse")
          | Github
    
