section.footer-wrapper
  .container
    .footer
      div
        p
          | Vanilka is open-sourced under the MIT license.
      .button-group
        a(href="#" class="btn btn-inverse") Github
    
