section.header-wrapper
  .container
    .header
      header
        h1
          a(href="/") Vanilka
      nav
        ul.menu
          li #[a(href="#") Home]
          li #[a(href="#") Docs]
          li #[a(href="#") Download]
