section.header-wrapper
  .container
    .header
      header
        h1.logo-title
          a(href="index.html") Vanilka
      nav
        ul.menu
          li #[a(href="index.html#features") Features]
          li #[a(href="docs.html") Docs]
          li #[a(href="https://github.com/Nefla/vanilka") Download]
