section.highlighted-wrapper
  .container
    .highlighted
      .highlight
        h2.title Minimal
        p.description
          | Does not include any framework or library like Bootstrap and
          | jQuery. Only pure, lean markup.
          
      .highlight
        h2.title Modular
        p.description
          | Because the theme was build with modularity in mind, 
          | it's very easy to enable or disable theme features.
          
      .highlight
        h2.title Modern
        p.description
          | Write the latest version of JavaScript paired 
          | with Sass and support for live-reload on the browser.
          
          
