section.highlighted-wrapper
  .container
    .highlighted
      div
        h2.title Minimal
        p.text
          | Does not include any framework or library like Bootstrap and
          | jQuery. Only pure, lean markup.
          
      div
        h2.title Modular
        p.text
          | Because the theme was build with modularity in mind, 
          | it's very easy to enable or disable theme features.
          
      div
        h2.title Modern
        p.text
          | Write the latest version of JavaScript (ES2015) paired 
          | with Sass that are automatically compiled with support 
          | for live-reload on the browser as you save the files.
          
          
